###########################################################
# General
###########################################################
*.swp
*.log
*~*
*.orig
*.sql
*.db
*nohup*
../nohup*
*.rvmrc*
percent*.gem
